extends layout

block content
  h2(class=['subtitle-header'])= siteName
  p Welcome to #{siteName}.
  section
    h1= 'Available operations'
    ul
      li: a(href='/addresses') Addresses
      li: a(href='/mails') Mails
