extends layout

block content
  h2(class=['subtitle-header'])= siteName
  p Welcome to #{siteName}.
  h3= 'available opertaions'
  ul
    li: a(href='/addresses') Addresses
    li: a(href='/mails') Mails
