doctype html
html
  head
    title= siteName
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    h1(class=['title-header'])
      a(href='/')= siteName
    block content
      p nothing to see here yet
