doctype html
html
  head
    title= siteName
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1(class=['title-header'])
      a(href='/')= siteName
    block content
      p nothing to see here yet
